@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-montserrat: 'Montserrat', sans-serif;
  --font-noto-sans-jp: 'Noto Sans JP', sans-serif;
}

h1,
h2,
h3 {
  font-family: var(--font-montserrat);
}

body {
  font-family: var(--font-noto-sans-jp);
}
